<div class="modal-header">
    <button styles="component.data.modalBack" ng-click="cancel()">
        <span class="icon-arrow_back"></span>
    </button>
    <span>{{component.data.modalTitle}}</span>
</div>
<div class="modal-body">
    <ul gridster="gridOptions">
        <li gridster-item="component" ng-repeat="component in components" ng-include="component.templateUrl">
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>

</div>