<div class="grid-container" ng-controller="signUpController">
    <div gridster="gridOptions">
        <div class="appTitle" ng-style="component.styles.appTitleStyle" ng-class="{moveup : contentHide}">
            <span ng-style="component.styles.appTitleLogo1">{{component.data.appTitle}}</span>
            <span ng-style="component.styles.appTitleLogo">{{component.data.appTitleLogo}}</span>
            <br>
            <span ng-style="component.styles.appTagLine" ng-class="{hide : contentHide}">{{component.data.appTagLine}}</span>
            <button class="signup-button" ng-style="component.styles.appTitleButton" ng-click="onAppEnter()" ng-if="component.data.appEntry">
                <span class="icon-dialpad"></span>{{component.data.appButtonTitle}}</button>
            <!-- <span ng-style="component.styles.appTagLine2" ng-class="{show : contentHide}">{{component.data.appTagLine2}}</span> -->
            <div style="width:335px;margin:45px auto 0 auto">
                <span ng-style="component.styles.errorMsg">{{component.data.errorMsg}}</span>
                <div ng-if="component.data.showRegForm">
                    <div ng-include="'components/sign-up/regform.html'"></div>
                </div>
                <div ng-if="component.data.showVeriForm">
                    <div ng-include="'components/sign-up/verification.html'"></div>
                </div>

            </div>

        </div>
    </div>
</div>