<div class="grid-container" ng-controller="upComingController">
    <div gridster="gridOptions" ng-style="component.styles.tabItemouterLayer" ng-swipe-left="tabSelect(compsforTabs[1])">
        <div ng-style="component.styles.dateWrapper">
            <div>
                <span ng-style="component.styles.dateHeadToday">Today</span>
                <span ng-style='component.styles.dateHeadDate'>{{todayDate | date:'EEE d MMM' }}</span>
            </div>
            <div>
                <span ng-style="component.styles.addTaskBtn" ng-click="openModal()">Add Task +</span>
            </div>
            {{swipe}}

        </div>
        <div ng-style="component.styles.upcomingItem" ng-repeat="task in component.data.tasks" class="upcoming-item">
            <div ng-style="component.styles.itemLeft">
                <span>{{task.description}}</span>
                <div class="task-container">
                    <span ng-style="component.styles.itemTime">{{task.due_date | date:'HH:mm'}}</span>
                    <span ng-style="component.styles.itemStatus" ng-class="{showOverdue: task.status=='overdue'}">overdue</span>
                </div>

            </div>
            <div ng-style="component.styles.itemRight">
                <span ng-style="component.styles.itemProject">{{task.project}}</span>
            </div>
        </div>
        <!-- <div ng-style="component.styles.addTaskButtonWrap" ng-click="openModal()">
            <div ng-style="component.styles.addTaskButton"><span>+</span></div>
        </div> -->
        
    </div>
</div>