<div class="grid-container" ng-controller="tabViewController" ng-style="component.styles.mainOuterLayout">
    <div ng-style="component.styles.tabHeaderWrap">
        <ul ng-style="component.styles.tabListUl">
            <li ng-repeat="tab in tabs" ng-click="tabSelect(tab)" ng-style="component.styles.tabListLi" ng-class="{active : tab.name == tabname}">
                <span class="{{tab.icon}}"></span>
            </li>
        </ul>
    </div>
    <div>
        <ul gridster="gridOptions">
            <li gridster-item="component" ng-repeat="component in components" ng-include="component.templateUrl" ng-style="{{component.styles.outerLayout}}">
            </li>
        </ul>
    </div>


</div>